/* .about-hero {
    padding-top: 10%;
}

.about-hero h2 {
    font-size: 4rem;
    margin-bottom: 30px;
}

.about-hero p.sect-tag {
    background: #FFF5F5;
    color: #EF4B36;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 1.4rem;
    width: max-content;
    font-family: 'Circular Black';
    margin-bottom: 20px;
}

.about-hero .button-flex {
    display: flex;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.about-hero .button-flex button:first-child {
    background: #353739;
    padding: 12px 35px;
    color: #FFF5F5;
    font-size: 1.4rem;
    border: 1px solid #353739;
    border-radius: 50px;
}

.about-hero .button-flex button:last-child {
    background: transparent;
    padding: 12px 35px;
    color: #353739;
    font-size: 1.4rem;
    border: 1px solid #353739;
    border-radius: 50px;
}

.about-hero .grid-2 .grid-2 p {
    font-size: 1.3rem;
    line-height: 1.8;
}

.about-hero .grid-2 .grid-2 h5 span {
    font-size: 1.3rem;
}

.about-hero .grid-2 .grid-2 h5 {
    font-size: 1.4rem;
}

.about-hero ul.ant-rate li.ant-rate-star {
    color: #EF4B36;
}

.about-hero .grid-2 .grid-2 {
    grid-gap: 15px;
}

.about-us-inner-story .inner-story-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.about-us-inner-story .inner-story-card {
    background: #36383A;
    padding: 10% 20px;
    border-radius: 16px;
}

.about-us-inner-story .inner-story-card p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 0px;
}

.about-us-inner-story .inner-story-card h5 {
    font-size: 1.4rem;
    color: #fff;
}

.about-us-inner-story .inner-story-card h3 {
    font-size: 2.5rem;
    color: #fff;
}

.about-us-inner-story .inner-story-card h3 span {
    color: #EF4B36;
    padding-left: 5px;
}

.about-us-inner-story .divider {
    border-top: .5px solid rgba(253, 253, 253, .4);
    margin-bottom: 30px;
    margin-top: 20px;
}

.about-us-inner-story img {
    width: 100%;
    height: 100%;
}

.about-us-inner-story .show_me_bg {
    background: red;
    width: 100%;
    height: 35rem;
    border-radius: 16px;
}

.about-us-inner-story .show_me_bg._1 {
    background: url('../images/images_to/_12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 20px;
}

.about-us-inner-story .show_me_bg._2 {
    height: 25rem;
    background: url('../images/images_to/_11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.about-us-inner-story .show_me_bg._3 {
    height: 25rem;
    background: url('../images/images_to/_12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.about-us-inner-story .grid-2 {
    grid-gap: 20px;
}

.final-props-story .final-props-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.final-props-story .final-props-grid p {
    font-size: 1.6rem;
    line-height: 1.8;
}

.final-props-story .final-props-grid .ant-collapse-header {
    padding: 0px;
    font-size: 1.8rem;
    font-family: 'Circular Black';
    padding-bottom: 10px;
    padding-top: 20px;
}

.final-props-story .final-props-grid .ant-collapse-item {
    border-bottom: 2px solid #E1E3E5;
}

.final-props-story .final-props-grid .ant-collapse-header .ant-collapse-header-text {
}

.final-props-story .final-props-grid .ant-collapse-content-box {
    padding: 0px;
}

.final-props-story .final-story-img {
    background: #EF4B36;
    border-radius: 24px 128px 24px 24px;
    width: 100%;
    height: 100%;
} */


/* about-bg-blue */
.about-bg-blue {
    background: #4A3E97;
    padding: 5% 0px;
}

.about-bg-blue p {
    font-size: 1.4rem;
    line-height: 1.8;
}

.about-bg-blue .about-testimonial {
    display: flex;
    grid-gap: 20px;
}

.about-bg-blue .about-testimonial .avatar {
    background: #8C83C2;
    width: 100px;
    line-height: 200px;
    height: 100px;
    border-radius: 50%;
    display: flex;
}

.about-bg-blue .about-testimonial .grid-2 {}

.about-bg-blue .about-testimonial p {
    color: #fff;
    font-size: 1.6rem;
}

.about-bg-blue .inner-testi-grid {
    display: flex;
    align-items: center;
    grid-gap: 40px;
}

.about-bg-blue .inner-testi-grid svg {
    width: 30px;
    height: 30px;
    stroke: #fff;
    margin-right: 15px;
}

.about-bg-blue .about-testimonial h3 {
    color: #fff;
    font-size: 1.6rem;
}

.about-bg-blue .inner-testi-grid p {
    margin-bottom: 0px;
    font-size: 1.4rem;
}

.about-bg-blue .about-divider-line {
    border-top: 1px solid #FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    width: 100%;
}

.about-bg-blue .about-structure .grid-2 {
    row-gap: 30px;
}

.about-bg-blue .inner-structure-flex {
    display: flex;
    grid-gap: 30px;
}

.about-bg-blue .inner-structure-flex ion-icon {
    font-size: 3rem;
    color: #fff;
}

.about-bg-blue .inner-structure-flex p {
    color: rgba(253, 253, 253, .8);
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: 0%;
}

.about-bg-blue .inner-structure-flex h4 {
    color: #fff;
    margin-bottom: 5px;
}

.about-bg-blue .about-structure h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 40px;
}

.about-numbers {
    background: #D5D2EC;
    padding: 5% 0px;
}

.about-numbers h3 {
    font-size: 3.5rem;
    width: 70%;
    margin-bottom: 30px;
}

.about-numbers .img-block {
    height: 40rem;
    width: 100%;
    background: #B9B6AD;
}

.about-numbers .grid-2 h5 {
    color: #4A3E97;
    font-size: 3.2rem;
    margin-bottom: 5px;
}

.about-numbers .grid-2 p {
    font-size: 1.4rem;
}

.about-numbers .grid-2 {
    width: 50%;
    margin-bottom: 30px;
}

.final-student-data .grid-4 {
    grid-gap: 10px;
}

.final-student-data .grid-4 .student-display {
    background: #C4C4C9;
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.final-student-data {
    padding: 5% 0px;
    position: relative;
    overflow: hidden;
}

.final-student-data .center {
    margin-bottom: 0px;
}

.final-student-data .center a {
    display: flex;
    align-items: center;
    border: 2px solid #4A3E97;
    background: transparent;
    padding: 13px 35px;
    color: #4A3E97;
    width: max-content;
    border-radius: 50px;
    font-size: 1.6rem;
    margin: 0px auto;
    margin-top: 8%;
    font-family: 'TT Firs';
}

.final-student-data .center a svg {
    width: 20px;
    height: auto;
    margin-left: 20px;
}

.final-student-data .center h3 {
    font-family: 'TT Firs';
    font-size: 2.5rem;
    width: 60%;
    margin: 0px auto;
    display: block;
    line-height: 1.6;
}

.final-student-data .banner {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #F7F7F9;
    top: -50px;
    left: -50px;
    border-radius: 80px;
    transform: skewX(-30deg);
}

/* about-sign-up */
.about-sign-up {
    background: #4A3E97;
    padding: 5% 0px;
}

.about-sign-up h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
}

.about-sign-up input {
    border: unset;
    background: transparent;
    height: 5rem;
    color: #fff;
}

.about-sign-up .email-input-box {
    border: 2px solid rgba(253, 253, 253, .8);
    border-radius: 50px;
    display: flex;
    padding: 5px;
    width: 50%;
    margin: 0px auto;
}

.about-sign-up .email-input-box button {
    background: #F69C6A;
    height: 5rem;
    font-size: 1.4rem;
    padding: 0px 25px;
    border-radius: 50px;
    color: #fff;
    border: 2px solid #F69C6A;
}

.about-hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1)), url('../images/about.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.about-hero .action-bars {
    display: flex;
    grid-gap: 10px;
}

.about-hero a.main {
    background: #fff;
    font-size: 1.5rem;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #4A3E97;
}

.about-hero a.sec {
    background: #4A3E97;
    font-size: 1.5rem;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #4A3E97;
    color: #fff;
}


/*  */
.about-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* padding-top: 5%;
    background: #FEFCFB; */
    position: relative;
}

.about-hero .about-icon {
    position: absolute;
    top: 0%;
}

.about-hero .about-icon.about-icon-2 {
    top: 0%;
    left: 0px;
    font-size: 15rem;
    color: #FE5D2F;
}

.about-hero .about-icon.about-icon-3 {
    top: 10%;
    right: 0px;
    font-size: 15rem;
    color: #FCC397;
}

.about-hero .about-icon.about-icon-4 {
    top: 35%;
    right: 25%;
    font-size: 8rem;
    color: #FCC397;
}

.about-hero .about-icon.about-icon-1 {
    top: 60%;
    left: 0px;
    font-size: 10rem;
    color: #FCC397;
}

.about-hero h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #fff;
}

.about-hero h2 span {
    /* font-size: 5rem;
    margin-bottom: 30px; */
    box-shadow: rgb(229, 233, 252) 0px -23px 0px inset;
}

.about-hero p {
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 30px;
    width: 80%;
    display: block;
}

.about-hero .about-hero-text {
    width: 70%;
    margin: 0px auto;
    display: block;
}

.about-hero .btn-red {
    padding: 15px 25px;
    color: #fff;
}

.video-bg {
    height: 40rem;
    width: 80%;
    background: #000;
    border-radius: 16px;
    margin: 0px auto;
    display: block;
    margin-top: 30px;
}

.about-story .pink-bg {
    background: #FCEDE7;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    display: block;
    border-radius: 16px;
    padding: 5% 20px;
}

.about-story .pink-bg p {
    font-size: 1.5rem;
    line-height: 1.6;
    width: 90%;
    margin: 0px auto;
    display: block;
}

.about-story .pink-bg p.first-story {
    margin-bottom: 20px;
}

.about-story h3 {
    font-size: 3rem;
    padding-bottom: 20px;
}

/* about-how-to */
.about-how-to {
    background: #CBD3DC;
    text-align: center;
    padding: 5% 0px;
}

.about-how-to p {
    font-size: 1.4rem;
}

.about-how-to h4 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-how-to h3 {
    font-size: 3.5rem;
    width: 40%;
    margin: 0px auto;
    display: block;
    margin-bottom: 10px;
}

.about-how-to .first-sect p {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 50%;
    margin: 0px auto;
    display: block;
    margin-bottom: 40px;
}

.about-how-to .icon-cover {
    border: 2px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 10px;
}

.about-how-to .icon-cover ion-icon {
    font-size: 3rem;
}

.about-how-to .grid-3 p {
    font-size: 1.6rem;
    line-height: 1.4;
}

/* team */

.team_card {
    height: 20vw;
    border-radius: 8px;
}

.about_us .team h3 {
    font-size: 2rem;
    margin-bottom: 0px;
}

.team_card._1 {
    background-image: url('../../assets/images/team/_1.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._2 {
    background-image: url('../../assets/images/team/_2.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._3 {
    background-image: url('../../assets/images/team/_3.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._4 {
    background-image: url('../../assets/images/team/_4.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._5 {
    background-image: url('../../assets/images/team/_5.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._6 {
    background-image: url('../../assets/images/team/_6.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._7 {
    background-image: url('../../assets/images/team/_7.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._8 {
    background-image: url('../../assets/images/team/_8.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._9 {
    background-image: url('../../assets/images/team/_9.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._10 {
    background-image: url('../../assets/images/team/_10.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_card._11 {
    background-image: url('../../assets/images/team/bukola.jpg');
    background: #CBD3DC;
    background-position: 50% 0%, 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.team_member_role,
.about-us-page .dance-props-sect.sec-homepage-extra-desc p {
    margin-bottom: 0%;
    font-size: 1.3rem;
}

.team_member_name {
    font-size: 1.4rem;
    margin-bottom: 0%;
}

.team_img_cover p,
.team_img_cover ion-icon {
    display: none;
}


/* about-hero-sec */
.about-hero-sec .about-hero {
    background: #000;
    padding: 5% 3%;
}

.about-hero-sec .about-hero .about-video-sect {
    height: 50rem;
    border-radius: 16px;
    background: #1C1C1C;
    width: 100%;
}

.about-sub-hero {
    padding-top: 5%;
}

.about-sub-hero .grid-2 h2 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.about-sub-hero .grid-2 p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-sub-hero .btn-flex {
    margin-bottom: 30px;
}

.about-sub-hero a ion-icon {
    font-size: 2rem;
}

.about-sub-hero a {
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    fill: #FEFCFB;
    /* width: 100%; */
}

.about-sub-hero a svg {
    width: 30px;
    height: auto;
}

.about-sub-hero a:last-child {
    text-decoration: underline;
}

.about-sub-hero .about-sub-hero-card {
    background: #F0F0F0;
    padding: 10px 15px;
    border-radius: 16px;
}

.about-sub-hero .about-sub-hero-card p {
    margin-bottom: 0px;
}

.about-sub-hero .about-sub-hero-card h2 {
    font-size: 6rem;
}

.about-sub-hero .color-me {
    background: var(--black);
    padding: 20px 15px 0px;
    border-radius: 16px;
    margin-top: 20px;
}

.about-sub-hero .color-me h3 {
    font-size: 2.5rem;
    color: #fff;
}

.bar-chart-display {
    display: flex;
    grid-gap: 10px;
    align-items: baseline;
}

.about-sub-hero .color-me .grid-2 {
    display: flex;
    justify-content: space-between;
}

.bar-chart-display .bar {
    height: 100px;
    width: 70px;
    border-radius: 3px 3px 0px 0px;
}

.bar-chart-display .bar-1 {
    background: #B9E289;
}

.bar-chart-display .bar-2 {
    background: #99CE63;
    height: 130px;
}

.bar-chart-display .bar-3 {
    background: #77B147;
    height: 160px;
}

.color-me p {
    color: #fff;
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.color-me p span {
    width: 80px;
    height: 2px;
    background: #fff;
    display: block;
    font-family: 'Gilroy Bold';
}

.about-sub-props .grid-2 h3 {
    font-size: 3rem;
    width: 70%;
    margin-bottom: 0px;
}

.about-sub-props .grid-2 p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 0px;
}

.about-sub-props .grid-2 {
    margin-bottom: 5px;
}

.video-sec-bg {
    background: #1C1C1C;
    height: 40rem;
    border-radius: 16px;
    position: relative;
}

.video-sec-bg .video-sec-controls {
    position: absolute;
    bottom: -10px;
    right: -30px;
    background: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-sec-bg .video-sec-controls .video-control-panel {
    background: #99EA48;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-sec-bg .video-sec-controls .video-control-panel ion-icon {
    font-size: 40px;
}

.sec-grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.video-message-bg {
    background: #1C1C1C;
    height: 40rem;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.video-message-bg p {
    color: rgb(229, 233, 252);
    font-size: 1.3rem;
    line-height: 1.8;
}

.video-message-bg h3 {
    color: rgb(229, 233, 252);
    font-size: 1.8rem;
    /* line-height: 1.8; */
}

.video-message-bg .instructor-row {
    display: flex;
    grid-gap: 10px;
    position: absolute;
    bottom: 40px;
    overflow: hidden;
}

.video-message-bg .avatar-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.video-message-bg .plus-icon {
    border: 2px solid #F3F3F3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-message-bg .plus-icon svg {
    fill: #F3F3F3;
    width: 30px;
    height: auto;
}

.about-sub-message {
    background: #1C1C1C;
    background: #05192D;
    /* min-height: 40rem; */
    width: 100%;
    padding: 5% 0px;
}

.about-sub-message .img-block,
.about-sub-message img {
    background: #CBD3DC;
    height: 30rem;
    border-radius: 16px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    /* width: 100%; */
}

.about-sub-message .btn-array {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.about-sub-message h2 span {
    color: #fff;
    -webkit-text-fill-color: #1C1C1C;
    font-family: 'Gilroy Bold';
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(229, 233, 252);
}

.about-sub-message h2 {
    font-size: 4rem;
    color: #fff;
    width: 80%;
    margin: 0px auto;
    display: block;
    margin-bottom: 40px;
}

.owl-dots {
    display: none !important;
}

.about-flex {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

.img-data-flex {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    /* width: 90%;
    margin: 0px auto;
    display: block; */
}

.img-data-flex .owl-carousel.owl-loaded {
    width: unset;
}

.about-hero-sec .testimonial {
    background: #F3F3F3;
    padding: 5% 0px;
}

.about-hero-sec .testimonial p {
    color: #000;
}

.about-hero-sec .testimonial h1 {
    font-size: 3rem;
    color: #000;
    line-height: 1.3;
}

.about-hero-sec .testimonial h3.dance-author-name {
    color: #000;
    margin-top: 30px;
    font-size: 1.8rem;
}

.about-hero-sec .testimonial p {
    margin-bottom: 0px;
    font-size: 1.6rem;
}

/* instructors */
.instructor-display .about-sub-hero {
    height: 50rem;
    display: flex;
    align-items: center;
}

.instructor-display .about-sub-hero {
    padding-top: 2%;
    background: url('../images/home/Summer_Sale_LeggingsWomens_Desktop\ \(1\).jpg');
    background: #F4EDE4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructor-display .about-sub-hero .bg-instructors-circl img {
    width: 70%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.instructor-display .about-sub-hero .contain,
.instructor-display .about-sub-hero .contain .grid-2 {
    height: 100%;
}

.instructor-display .about-sub-hero .contain .grid-2 {
    align-items: center;
}

.instructor-display .about-sub-hero .contain ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.instructor-display .about-sub-hero .contain ul li {
    list-style: none;
}

.instructor-display .about-sub-hero .contain ul img {
    height: 40px;
    width: 60px;
    /* object-fit: cover;
    object-position: center; */
    /* display: flex; */
}

.instructor-display .instructor-prop-data {
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    padding: 30px 16px;
    padding-bottom: 0px;
}

.instructor-display .instructor-prop-data p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.instructor-display .instructor-prop-data h3 {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 5px;
}

.instructor-display .block {
    /* background: #1C1C1C;
    height: 80px;
    width: 100px;
    border-radius: 4px;
    margin-bottom: 10px; */
}

.instructor-display .block img {
    height: 80px;
    width: 100px;
}

.bg-instructors-banner {
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    /* display: flex; */
}

.bg-instructors-banner .vjs-big-play-centered.video-js.vjs-fluid {
    /* position: absolute;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%; */
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    object-fit: fill;
    width: auto;
    height: auto;
    /* z-index: -1000; */
    /* height: 56.25vw;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,10px);
    transform: translate3d(-50%,-50%,10px);
    width: 100vw;
    z-index: 1; */
}

.bg-instructors-circle {
    background: #000;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin: 0px auto;
    display: block;
}

@media screen and (max-width:720px) {
    .about-sub-hero .grid-2 {
        display: flex;
        flex-direction: column;
    }

    .about-sub-props .grid-2,
    .about-sub-props .sec-grid-2 {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }

    .about-sub-props .img-data-flex {
        display: flex;
        /* white-space: a; */
        flex-wrap: wrap;
    }

    .about-sub-message h2 {
        width: 100%;
        font-size: 2.5rem;
    }

    .about-sub-message {
        padding: 15% 0px;
    }

    .about-sub-message .btn-array {
        flex-wrap: wrap;
        text-align: left;
        align-items: unset;
        justify-content: unset;
    }

    .about-hero-sec .testimonial h1 {
        font-size: 2rem;
    }

    .about-hero-sec .testimonial {
        padding: 15% 0px;
        text-align: center;
        text-align: left;
    }

    .testimonial .testimonial-author-sect {
        /* flex-direction: column; */
        /* align-items: unset; */
    }

    .testimonial .testimonial-author-sect .avatar {
        width: 70px;
        height: 70px;
        /* margin: 0px auto; */
        display: block;
    }

    .team .grid-5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .team_card {
        height: 50vw;
    }

    .about-sub-hero .grid-2 h2 {
        font-size: 3rem;
    }

    .about-sub-hero .grid-2 p {
        font-size: 1.4rem;
    }

    .about-sub-hero .btn-flex {
        display: flex;
        /* flex-direction: column; */
    }

    .about-sub-hero .btn-flex a.btn-black.curve {
        width: inherit;
    }

    .about-sub-props .grid-2 h3 {
        width: 100%;
        font-size: 2.5rem;
    }

    .about-sub-props .grid-2 p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .about-sub-props .grid-3 {
        display: flex;
        flex-direction: column;
    }

    .about-flex,
    .img-data-flex {
        display: unset;
        text-align: left;
    }

    .img-data-flex {
        /* display: flex;
        grid-gap: 10px;
        justify-content: center;
        align-items: center; */
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .about-sub-message .img-block {
        width: unset;
    }

    .bg-instructors-circle {
        width: 300px;
        height: 300px;
        margin: unset;
    }

    .instructor-display .about-sub-hero {
        height: max-content;
        padding: 10% 0px;
    }

    .instructor-display .about-sub-hero .contain .grid-2 {
        align-items: unset;
    }

    .instructor-display .instructor-prop-data p {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}

.hero-sect .first-hero-section {
    min-height: 65vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1.2fr;
}

.real-homepage .hero-section {
    background: #10162F;
    background: #002333;
    padding: 40px 0px;
    padding: 5% 0px;
    display: flex;
    align-items: center;
}

.real-homepage .hero-section .grid-2 {
    align-items: center;
}

.real-homepage .hero-section .grid-2 h2 {
    font-size: 5rem;
    color: #fff;
}

/* .real-homepage */

.real-homepage .hero-section .grid-2 p {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.8;
    display: block;
}

.real-homepage.about-us-page a {
    display: block;
    width: max-content;
}

.real-homepage.about-us-page a svg {
    stroke: #fff;
}

.about-us-page .hero-section img {
    width: 60%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.about-us-page .hero-section a.btn-yellow svg {
    width: auto;
    height: 2.5rem;
}

@media screen and (max-width: 720px) {
    .about-bg-blue .about-testimonial {
        flex-direction: column;
    }

    .about-bg-blue .about-testimonial p {
        font-size: 1.4rem;
    }

    .about-bg-blue .inner-testi-grid {
        justify-content: space-between;
    }

    .about-bg-blue .about-structure .grid-2 {
        display: block;
    }

    .about-bg-blue .inner-structure-flex {
        flex-direction: column;
        grid-gap: 10px;
        margin-bottom: 20px;
    }

    .about-numbers h3 {
        width: 100%;
        font-size: 2.5rem;
    }

    .about-numbers .grid-2 {
        width: 100%;
    }

    .about-numbers {
        padding: 15% 0px;
    }

    .final-student-data .center h3 {
        width: 100%;
    }

    .final-student-data .banner {
        display: none;
    }

    .final-student-data .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .final-student-data .grid-4 .student-display {
        height: 200px;
    }

    .final-student-data,
    .about-bg-blue {
        padding: 15% 0px;
    }
    .about-sign-up {
        padding: 15% 0px;
    }
    .about-sign-up .email-input-box {
        width: 100%;
    }

    .about-hero h2 {
        font-size: 3.5rem;
    }
}